*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-transition: background-color 2s ease-out;
  -moz-transition: background-color 2s ease-out;
  -o-transition: background-color 2s ease-out;
  transition: background-color 2s ease-out;
    
}

h1,h2,h3{
    color: rgb(54, 54, 54)
}
body {
    
    font-family: 'Lato', sans-serif;
}
h3,h4 {
    font-weight: 400;
    color: rgb(100, 100, 100)
}
#corner-btn {
    position: fixed;
    bottom: 10px;
    right: 10px;
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.bg-salmon{
    background-color: #121212;
    -webkit-transition: background-color 2s ease-out;
  -moz-transition: background-color 2s ease-out;
  -o-transition: background-color 2s ease-out;
  transition: background-color 2s ease-out;
    h1,h2,h3,p{
        color: white
    }
    svg{
        color: white
    }
    button {
        background: rgb(65, 65, 65);
        color: white;
        border: none;
        cursor: pointer;
        border:  2px solid white;
        padding: 0.5rem;
        transition: 0.5s ease;
        &:hover {
            background-color:  white;
            color: rgb(65, 65, 65);
        }
    }
    
}

@import './song';
@import './player';
@import './library';
@import './nav'